@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');
/* font-family: 'Encode Sans Semi Expanded', sans-serif;
font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: EudoxusSans;
    src:url("./font/EudoxusSans-Regular.ttf");
}

:root{
    --white:rgb(255, 255, 255);
    --black:rgb(17, 17, 17);
    --black_t:rgba(0, 0, 0, 0.2);
    --white_t:rgba(255, 255, 255, 0.2);
    --gray:#98a8c2 ;
    --dark:#1a1818;
    --light:#ddf3ff ;
    --primary_dark:#2ecc71;
    --primary_light:rgb(206, 75, 0);
    --font1:'Poppins', sans-serif;
    --font2:'Encode Sans Semi Expanded', sans-serif;
    --font3:EudoxusSans;

}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 8vh;
}
body,html,button,a{
    cursor: none !important;
}
body{
    font-family:var(--font3);
    font-weight: 400;
    width: 100%;
    overflow-x: hidden;
    cursor: url("./../img/cursor.webp"), auto;
}
.font_1{
    font-family:var(--font1) !important;
}
.font_2{
    font-family:var(--font2) !important;
}
.c_primary{
    color: var(--primary_dark);
}
.c_sec{
    color: var(--gray);
}
.c_orange{
    color: var(--primary_light);
}
.sub_heading{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
#page1{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.page1_bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease-out;
}
.page1_bg.light{
    opacity: 0;
}
#page1.night .page1_bg.night{
    opacity: 1 !important;
}
#page1.night .page1_bg.light{
    opacity: 0 !important;
}
#page1.light .page1_bg.night{
    opacity: 0 !important;
}
#page1.light .page1_bg.light{
    opacity: 1 !important;
}
.connect{
    position: fixed;
    top: 2%;
    right: 1.5%;
    padding: .8rem;
    background:radial-gradient(var(--black),var(--white_t));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.connect .wp_img{
    width: 30px;
    animation: rotate 1s linear infinite alternate;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(30deg);
    }
}
.image{
    position: absolute;
    bottom: -15%;
    left: 5%;
    height: 90%;
}
.image .tech_guy{
    height: 100%;
}
.page1_box{
    width: 35%;
    min-width: 450px;
    min-height: 75vh;
    background-color: var(--black_t);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 12px;
    border: .5px solid var(--white_t);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 20px -10px var(--white_t);
    padding: 2rem;
}
.skip_into_btn{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px 10px;
    color: var(--light);
    background-color: var(--dark);
    border: 1px solid var(--primary_light);
    outline: none;

}
.ti-cursor{
    display: none !important;
}
.theme_btns{
    margin-top: .5rem;
    border: 1px solid var(--white_t);
    padding:1.5rem 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 8px;
}
.theme_btns button:hover{
    border: 1px solid var(--primary_light);
}
.theme_btns button{
    padding: 8px 20px;
    flex: 1;
    font-family: var(--font2);
    border: 1px solid var(--primary_dark);
    outline: none;
    font-size: 1rem;
    border-radius: 3px;
    transition: .4s;
}
.theme_btns button.dark_btn{
    background-color: #2e3238 ;
    color:white;
}
.theme_btns button.light_btn{
    background-color:#ddf3ff;

}
.sound_btns{
    margin-top: .5rem;
    border: 1px solid var(--white_t);
    padding:1.5rem 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 8px;
}
.sound_btns button:hover{
    border: 1px solid var(--primary_light);
}
.theme_btns button.active{
    border: 1px solid var(--primary_light) !important;
}
.sound_btns button{
    padding: 0px 20px;
    flex: 1;
    font-family: var(--font2);
    border: 1px solid var(--primary_dark);
    outline: none;
    font-size: 1rem;
    border-radius: 3px;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sound_btns button.unmute_btn{
    background-color: #2e3238 ;
    color: var(--white);
    
}
.sound_btns button.mute_btn{
    background-color:#ddf3ff;
}
.sound_btns button img{
    width: 40px;
    object-fit: cover;
}
.mt-s{
    margin-top: 5px;
    display: block;
}
.solution_in{
    border: 1px solid var(--white_t);
    outline: none;
    padding: 4px 8px;
    color: var(--light);
    background-color: transparent;
    text-align: center;
}
.check_btn:hover{
    opacity: .8;
    /* cursor: pointer; */
}
.check_btn{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: var(--light);
    color: var(--dark);
}

#cursor {
    position: absolute;
    width: 12px;
    height: 12px;
    background: radial-gradient(rgba(0, 0, 0, 0.281),rgba(255, 255, 255, 0.267));
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: transform .15s ease-in-out;
    z-index: 99999999999999999999999;
  }
#cursor img{
    width: 35px;
    user-select: none;
}
#cursor.click img{
    transform: scale(.8);
}
.solution_in.right{
    border: 1px solid rgb(148, 255, 148);
}
.solution_in.wrong{
    border: 1px solid rgb(255, 60, 0);
    animation: vibrate 100ms linear alternate infinite;
}
@keyframes vibrate {
    0%{
        transform: scale(1.01) translateX(0);
    }
    50%{
        transform: scale(1.01) translateX(2px);
    }
    50%{
        transform: scale(1.01) translateX(-2px);
    }
}
.start_btn{
    padding: 8px 20px;
    font-family: var(--font2);
    border: 1px solid var(--primary_dark);
    outline: none;
    font-size: 1rem;
    border-radius: 3px;
    transition: .4s;
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
    display: block;
    margin-top: 20px;
}
.page1_box.smoothHide{
    animation: vanish .8s linear 1 forwards;
}
@keyframes vanish {
    100%{
        transform:translate(-50%,-50%) scale(.5);
        opacity: 0;
        border: none;
        box-shadow: none;
    }
}
#page1.remove{
    overflow: auto;
    animation: slideUp 2s ease-in 1 forwards;
}
@keyframes slideUp {
    100%{
        transform: translateY(-100%);
        opacity: .8;
    }
}

.hide{
    display: none;
    overflow: hidden;
}

/* app */
#app{
    width: 100%;
    background-color: var(--black);
    display: none;
    overflow: hidden;
    color: var(--white);
    transition: background .5s ease-in;
}

#app.light .logo img{
    filter: invert(1) contrast(.7);
}
#app.activeInstant{
    display: block;
    overflow: auto;
}
#app.active{
    display: block;
    overflow: auto;
    animation: slideUp2 2s ease-in 1 backwards;
}
@keyframes slideUp2 {
    100%{
        transform: translateY(-100vh);
        /* opacity: .8; */
    }
}
nav{
    width: 100%;
    padding: 2vh 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0;
    left: 0; */
    height: 15vh;
    z-index: 1000;
}
.pad{
    padding: 0vh 4vw;
}
nav .email:hover{
    background-color: var(--white);
    color: var(--black);
}
nav .email{
    display: flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;
    font-size: 1.3rem;
    background-color: var(--dark);
    padding: 12px 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px -15px var(--black);
}

.logo img{
    width: 80px;
}
.hero .vertical_center{
    width: 100%;
    height: calc(90% - 15vh);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .content{
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 900px;
    min-width: 300px;
}
#app.night .star1{
    animation: starmove1 10s ease-out infinite backwards;
    left: 0;
    transform: rotate(-45deg) translate(30vh,-30vh);
    
}
#app.night .star2{
    right: 0;
    animation: starmove2 10s 4s ease-out infinite backwards;
    transform: translate(-12vh,12vh) rotate(225deg);
    
}
#app.night .star3{
    animation: starmove3 10s 7s ease-out infinite backwards;
    left: 25vw;
    transform: rotate(-45deg) translate(-12vh,-12vh);
}
#app.night .star{
    width: 150px;
    height: 2px;
    bottom: 0;
    background:linear-gradient(to right,rgb(120, 120, 120),var(--primary_light));
    position: absolute;
    border-radius: 100% 0 0% 100%;
    z-index: 100;
}
@keyframes starmove2 {
    0%{
        transform: translate(-12vh,12vh) rotate(225deg);
    }
    20%{
        transform: translate(-150vh,-130vh) rotate(225deg);
        
    }
    100%{
        transform: translate(-150vh,-130vh) rotate(225deg);
    }
}
@keyframes starmove1 {
    0%{
        transform: translate(0,0) rotate(-45deg);
    }
    20%{
        transform: translate(130vh,-130vh) rotate(-45deg);
        
    }
    100%{
        transform: translate(130vh,-130vh) rotate(-45deg);
    }
}
@keyframes starmove3 {
    0%{
        transform: translate(-12vh,12vh) rotate(-45deg);
    }
    20%{
        transform: translate(130vh,-130vh) rotate(-45deg);
        
    }
    100%{
        transform: translate(130vh,-130vh) rotate(-45deg);
    }
}
#app.night .hero{
    position: relative;
    overflow: hidden;
    background: url('./../img/night_bg.svg') no-repeat center center/120%;
    animation: animate 30s linear infinite alternate;
}
@keyframes animate {
    0%{
        background-size: 100%;
        background-position: left top;
    }
    50%{
        background-size: 160%;

    }
    100%{
        background-size: 180%;
        background-position: right bottom;
    }
}
#app.light .hero{
    animation: animate 30s linear infinite alternate;
    background: url('./../img/white_bg.svg') no-repeat center center/cover;
}
.hero{
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    /* background: url(./../img/mak\ \(1\).webp) no-repeat right top/contain; */
    align-items: center;
}
.hero .heading{
    font-size: 3.5rem;
    letter-spacing: -1px;
    word-spacing: 10px;
    transition: .3s;
}
.hero .content p{
    line-height: 1.5;
}
/*  */
  .demo-up {
    display: flex;
    align-items: center;
    text-align: left;
    color: var(--white);
    background-color: var(--dark);
    padding: 8px 20px;
    gap: 10px;
    border-radius: 25px;
  }
  
  /** Server status css **/
  .server-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
  }
  .server-status::before,
  .server-status::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .server-status[type="up"],
  .server-status[type="up"]::before,
  .server-status[type="up"]::after {
    background: #2ECC71;
  }
  
  .server-status::before {
    content: "";
    animation: bounce 1.5s infinite;
  }
  .server-status::after {
    content: "";
    animation: bounce 1.5s -0.4s infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(2);
      opacity: 0;
    }
  }
  

/*  */
.help_btn.active{
    transform: scale(1) rotate(0);
    transform: scale(1) rotate(0) translate(-18px,-5px);
}
.help_btn.active:hover{
    transform: scale(1) rotate(0) translate(-18px,-5px);
}
.help_btn:hover{
    transform: scale(1.1) rotate(-45deg) translate(-15px,30px);
}
.help_btn.visible{
    display: initial;
}
.help_btn{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 1s;
    transform: rotate(-45deg) translate(-15px,40px);
    z-index: 100;
    display: none;
}
.help_btn img{
    width: 80px;
    filter: grayscale(1);
}
.help_box.active{
    transform: translateY(0);
    opacity: 1;
}
.help_box{
    position: fixed;
    right: calc(25px + 80px);
    bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(100%);
    opacity: 0;
    transition: 1s;
    z-index: 100;
    
}
.help_box a:hover{
    background-color: var(--white);
    color: var(--dark);
}
.help_box a{
    text-decoration: none;
    background-color: var(--dark);
    color: var(--white);
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
#project_section{
    background:linear-gradient(var(--black) 40%,var(--dark) );
    padding-bottom: 4vh;
}
.projects{
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}
.projects .project .project_main_img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
}
#app.night .projects .project .project_main_img{
    filter: grayscale();
}
.projects .project .details{
    width: calc(100%);
    height: calc(100%);
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(100%);
    opacity: 0;
    transition: .5s ease-in;
    background: var(--dark);
    z-index: 12;
    overflow: auto;
}
.projects .project .details .project_logo{
    height: 20%;
}
.projects .project .details .texts{
    padding: 10px;
}
.projects .project .details .texts .link:hover{
    background-color: var(--primary_light);
    color: var(--white);
}
.projects .project .details .texts .link{
    margin-top: 10px;
    font-size: .7rem;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--primary_dark);
    color: var(--dark);
    padding: 4px 8px;
    display: inline-block;

}
.projects .project .details .para{
    font-size: .8rem;
    text-align: left;
}
.projects .project .details .title{
    font-size: 1rem;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.projects .project:hover .details{
    transform: translateY(0);
    opacity:1;
}
.projects .project:hover{
    transform: rotate3d(.5,-.866,0,15deg) scale(1.1);
}
.projects .project{
    position: relative;
    width: calc(33.3% - 1.5vw);
    padding: 20px;
    background-color: var(--dark);
    border-radius: 5px;
    box-shadow: 10px 10px 20px -15px var(--black);
    transition: .4s;
    overflow: hidden;
}
.section_heading{
    margin-bottom: 18vh;
    font-size: 2.5rem;
    text-align: center;
}
.section_heading p{
    color: var(--white_t);
}

.scroll_down img{
    filter: brightness(100) contrast(0);
}
.scroll_down{
    transform: rotate(-155deg);
    animation: bounce2 1s ease-in-out  infinite alternate ;
}
.check-label{
    margin-top: 5vh;
    color: var(--primary_dark);
}
@keyframes bounce2 {
    0%{
        transform: translateY(-10px) rotate(-155deg);
    }
    100%{
        transform: translateY(10px) rotate(-155deg);
    }
}
span.o{
    position: relative;
}
span.o::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%,-30%);
    width: 100%;
    height: 60%;
    background: url('./../img/cursor.webp') no-repeat center center/contain;
    mix-blend-mode: difference;
}
#settings.active{
    transform: translateX(0);
}
#settings{
    position: fixed;
    z-index: 100;
    width: 210px;
    padding: 20px;
    transform: translateX(100%);
    transition: .5s;
    background-color: var(--dark);
    right: 0;
    top: 32%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}
.row-btn{
    display: flex;
    gap: 5px;
}
.row-btn button:hover{
    opacity: .8;
}
.row-btn button.active{
    border: 2px solid var(--primary_dark);
}
.row-btn button{
    flex: 1;
    background-color: var(--white);
    color: var(--dark);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 3px;
}
.text-center{
    text-align: center;
}

/*  */
.under_construction{
    background-color: var(--white);
    color: var(--primary_dark);
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}


